{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class='row'>
        <div class='col px-5'>
            <div class="card mb-3 border-white">
                <div class="row no-gutters m-auto">
                    {% if team %}
                        <div class="col-md-6 col-lg-4 text-center my-5">
                    {% else %}
                        <div class="col text-center">
                    {% endif %}
                        {% if object.image %}
                            <img src="{{ object.image.url }}" class="card-img-top" alt="..." style="max-height:350px; width:auto;">
                        {% else %}
                            <img src="{% static 'img/DIAILogo1.png' %}" class="card-img-top" alt="..." style="max-height:350px; width:auto;">
                        {% endif %}
                    </div>
                    {% if team %}
                    <div class="col-md-6 col-lg-7">
                    {% else %}
                    <div>
                    {% endif %}
                        <div class="card-body">
                            <h1 class="card-title">{% if object.title %}{{ object.title|safe }}{% else %}{{ object.name }}{% endif %}</h1>
                            {% if object.role %}
                                <h5 class='card-title'>{{ object.role }}</h5>
                            {% endif %}
                            {% if object.solution %}
                                <h5 class='card-title'>{{object.solution}}</h5>
                            {% endif %}
                            <p class="card-text">
                            {{ object.summary }}</br> </br>
                            </p>

                            {% comment %} <div class='row'>
                                <div class='col'>
                                {% if object.about == object.about|striptags %}  
                                    {{ object.about|linebreaks }}
                                {% else %}
                                    {{ object.about|safe }}
                                {% endif %}
                                </div>
                            </div> {% endcomment %}
                             {% comment %} <div class='row'>
                                <div class='col px-5 m-auto'>
                                {% if object.email %} 
                                    <a href="mailto:{{ object.email }}" class="scl-btn shadow fas fa-envelope"></a>
                                {% endif %}
                                {% if object.website %} 
                                    <a href="{{ object.website }}" class="scl-btn shadow fas fa-globe"></a>
                                {% endif %}
                                {% if object.linkedin %} 
                                    <a href="{{ object.linkedin }}" class="scl-btn shadow fab fa-linkedin-in"></a>
                                {% endif %}
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class='row'>
        <div class='col px-5 m-auto'>
        {% if object.about == object.about|striptags %}  
            {{ object.about|linebreaks }}
        {% else %}
            {{ object.about|safe }}
        {% endif %}
        </div>
    </div> 
    <div class='row'>
        <div class='col px-5 m-auto'>
        {% if object.email %} 
            <a href="mailto:{{ object.email }}" class="scl-btn shadow fas fa-envelope"></a>
        {% endif %}
        {% if object.website %} 
            <a href="{{ object.website }}" class="scl-btn shadow fas fa-globe"></a>
        {% endif %}
        {% if object.linkedin %} 
            <a href="{{ object.linkedin }}" class="scl-btn shadow fab fa-linkedin-in"></a>
        {% endif %}
    </div>
{% endblock %}