{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>{{ title }}</h2>
{% if user.is_authenticated %}
    {% include 'base/admin_create.html' %}
{% endif %}
{% if object_list %}
    {% for member in object_list %}
        {% if member.featured and member.display %}
        <div class='row'>
            <div class='col'>
                <div class="card fluid mb-3">
                    {% include 'about/snippets/member-card.html' %}
                </div>
            </div>
        </div><br>
        {% endif %}
    {% endfor %}
    <div class='row'>
        {% for member in object_list %}
            {% if not member.featured and member.display %}
                {% if team %}
                <div class='col col-6 mb-3'>
                {% else %}
                <div class='col col-md-6 col-lg-4 mb-3'>
                {% endif %}
                    <div class="card">
                        {% include 'about/snippets/member-card.html' %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <div class='row px-3'>
            Cards currently hidden:
        </div>
        <div class='row'>
            {% for member in object_list %}
                {% if not member.display %}
                   <div class='col col-md-6 col-lg-4 mb-3'>
                        <div class="card">
                            {% if member.featured %}
                                Featured Card
                            {% endif %}
                            {% include 'about/snippets/member-card.html' %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% else %}
    Uh-oh...
    {% comment %} {% include 'about/snippets/about.html' %} {% endcomment %}
{% endif %}
{% endblock %}