{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{ title }}</h2>
<div class='row row-cols-md-3'>
    <div class='card-deck'>
        <div class='col p-3 col-md-6 col-lg-4'>
            <div class="card">
                <img src="{% static 'img/DIAILogo1.png' %}" class="card-img-top p-3" alt="vision.png" style="max-width: 100%; height:auto;">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'about:vision_url' %}" class="card-link">Our Vision</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Read about what we want to do for you</h6>
                    <p class="card-text">We want to help you make difficult business the right business decision when faced with complex parameters.</p>
                    {% comment %} Click here to read more about us! {% endcomment %}
                </div>
            </div>
        </div>
        
        <div class='col p-3 col-md-6 col-lg-4'>
            <div class="card">
                <img src="{% static 'img/team.png' %}" class="card-img-top p-3" alt="team.png">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'about:team_url' %}" class="card-link">Our Team</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Come and meet our team</h6>
                    <p class="card-text">We have many personal achievements that we are proud to share to give you an idea of our expertise.</p>
                    {% comment %} Click here to see the team! {% endcomment %}
                </div>
            </div>
        </div>

        <div class='col p-3 col-md-6 col-lg-4'>
            <div class="card">
                <img src="{% static 'img/solutions.png' %}" class="card-img-top p-3" alt="solutions.png">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'about:solution_url' %}" class="card-link">Our Solutions</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">These are our business solutions</h6>
                    <p class="card-text">We have used the recent advancements in AI and Machine Learning to develop applications that find the best solutions.</p>
                    {% comment %} Click here to read more about our apps! {% endcomment %}
                </div>
            </div>
        </div>

        <div class='col p-3 col-md-6 col-lg-4'>
            <div class="card">
                <img src="{% static 'img/history.png' %}" class="card-img-top p-3" alt="history.png">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'about:history_url' %}" class="card-link">Our History</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Read about how we came to be</h6>
                    <p class="card-text">The path of the entrepenuer starting a business in a complex world.</p>
                    {% comment %} Click here to read about our company! {% endcomment %}
                </div>
            </div>
        </div>

        <div class='col p-3 col-md-6 col-lg-4'>
            <div class="card">
                <img src="{% static 'img/awards.png' %}" class="card-img-top p-3" alt="awards.png">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'about:award_url' %}" class="card-link">Our Awards</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Read about the achievments and awards we have won</h6>
                    <p class="card-text">Our ingenuity and success has granted us many awards and contracts.</p>
                    {% comment %} Click here to read about some of our past projects! {% endcomment %}
                </div>
            </div>
        </div>

        <div class='col p-3 col-md-6 col-lg-4'>
            <div class="card">
                <img src="{% static 'img/partners.png' %}" class="card-img-top p-3" alt="partners.png">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'about:partner_url' %}" class="card-link">Our Partners</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Read about the great minds we are partnered with</h6>
                    <p class="card-text">We work with many prestigious names within the AI and Machine Learning domain and with many partners to help them create plans.</p>
                    {% comment %} Click here to see some of our partners! {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}