{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='row'>
    <div class='px-5 mx-auto'>
        <img src="{% static 'img/history.png' %}" class="img-fluid" alt="{% static 'img/history.png' %}" style="max-height:350px; width:auto;">
    </div>
</div>
<div class='row'>
    <div class='col px-5'>
       {{ message }}
    </div>
</div>
{% endblock %}