{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='row'>
    <div class='px-5 mx-auto'>
        <img src="{% static 'img/DIAILogo1.png' %}" class="img-fluid" alt="{% static 'img/DIAILogo1.png' %}" style="max-height:350px; width:auto;">
    </div>
</div>
<div class='row'>
    <div class='col px-5'>
        <h4>Who are we?</h4>
        <p>We are an innovative start-up looking across multiple fields at complexity in decision making. </p>

        <p>Human decision making is heuristic – “good on average”. Artificial Intelligence only provides predictions or classifications but cant give an answer to “how to achieve your goals”.</p>

        <p>Our strategic partners are pioneers in applying “Decision Intelligence”  to complex, multi-dimensional problems.</p>


        <p>In complex circumstances you want to answer the question:</p>
        <blockquote class="blockquote">
            <p class="mb-0">”If I take this action today, what will be the outcome tomorrow”</p>
        </blockquote>
        <hr>
        At a time where “Data-led” decision making is being promoted, complexity and uncertainty have never been greater:</br>

        <ul>
            <li>Spending time on masses of data does not yield breakthrough results – typically 10% of the data has 90% of the value. Start with the decision and then select the data.</li>
            <li>And data is ”backward looking” however decisions are about a future desired state.</li>
            <li>Humans excel at causal reasoning and AI can make up for the limitations of “neurological machinery”.</li>
        </ul>

        <p>Tell us about your problem and let's figure a solution. Visit our <a href="{% url 'contact' %}">contact page</a> and let's have a chat!</p>  

    </div>
</div>
{% endblock %}