{% extends "base.html" %}

{% block content %}
<div class='col-12 mx-auto'>
    {% if title %}
    <h1 class='my-3'>{{ title }}</h1>
    {% endif %}
    <div class='col-md-8 col-12 mx-auto'>
    <form method='POST' action='{% if action_url %}{{action_url}}{% endif %}' enctype="multipart/form-data">
        {% csrf_token %}
        {% if next_url %}
        <input type='hidden' name='next' value='{{ next_url }}'>
        {% endif %}
        {{ form.as_p }}
        <button class='btn btn-secondary my-3' type='submit'>Submit</button> <a href="{% url cancel %}" class='btn btn-secondary my-3' role='button'>Cancel</a>
    </form>
    </div>
</div>
{% endblock %}