{% extends "base.html" %}

{% block content %}
	<div class='container'>
		<div class='row'>
			<div class='col-12 mx-auto'>
				<h1>{{ title }}</h1>
				<p>{{ message }}</p>
				<hr class='divider'>
				<div class='col-md-8 col-12 mx-auto'>
					<form method='POST' enctype="multipart/form-data">
						{% csrf_token %}
						{% include 'accounts/snippets/form.html'%}
						{% comment %} <button type='submit' class='btn btn-secondary'>Submit</button> {% endcomment %}
					</form></br>
				</div>
			</div>
		</div>
	</div>
{% endblock %}