{% extends "base.html" %}
{% block content %}
<div class='row'>
      <div class="col-12 text-center py-5">
      {% if key %}
            <h1 class='my-5 py-5'>Activation error, please try again.</h1>
      {% else %}
            <h1 class='my-5 py-5'>Re-activate your email below.</h1>
      {% endif %}
      </div>
      <div class="col-12 text-center">
            <form method='POST' action=''>{% csrf_token %}
            {{ form.as_p }}
            <input class='btn btn-secondary' type='submit' value='Resend Activation' />

      </div>
</div>
{% endblock %}
