{% comment %} {% if not front %} {% endcomment %}
    <div class='row p-3'>
        <div class='col'>
            <a href="{% url edit member.id %}" class='btn btn-info' role='button'>Edit</a> 
        </div>
        <div class='col text-right'>
            <a href="{% url delete member.id %}" class='btn btn-danger' role='button'>Delete</a>
        </div>
    </div>
{% comment %} {% endif %} {% endcomment %}