{% extends 'base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %} 
        <p>Are you sure you want to delete <b>"{{ object }}"</b>?</p> 
        <input type="submit" value="Confirm"> 
    </form> 
{% endblock %}