</br></br></br></br></br>
<div class='fixed-bottom p-3 bg-dark text-white'>
    <div class='row'>
        <div class='col'>
            <a href="mailto:enquiries@datainnovation.ai" class="scl-btn shadow fas fa-envelope"></a>
            <a href="https://www.linkedin.com/company/data-innovation-ai/" class="scl-btn shadow fab fa-linkedin-in"></a>
        </div>
        <div class='col text-right my-auto'>
            {% if user.is_authenticated %}
                <a class="text-white" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="text-white" href="{% url 'login' %}">Login</a>
            {% endif %}            
        </div>
    </div>
</div>