<div class='col-12 mx-auto'>
    <form class='contact-form' method='POST' action="{% url 'contact' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit' class='btn btn-secondary'>Submit</button>
    </form>
</div>