{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 shadow">
    <div class='container'>
        <a class="navbar-brand" href="{% url 'home_url' %}">

            <img src="{% static 'img/DIAILogo1.png' %}" width="60" height="45" alt="{% static 'img/DataInnovationAI_Logo1.png' %}">
            <b>
                <span style="font-size:14.0pt;line-height:107%;font-family:'Quicksand',serif;color:#548235;mso-themecolor:accent6;mso-themeshade:191;mso-style-textfill-fill-color:#548235;mso-style-textfill-fill-themecolor:accent6;
                    mso-style-textfill-fill-alpha:100.0%;mso-style-textfill-fill-colortransforms:lumm=75000">Data</span> 

                <span style="font-size:14.0pt;line-height:107%;font-family:'Quicksand',serif;color:#2F5597;mso-themecolor:accent1;mso-themeshade:191;mso-style-textfill-fill-color:#2F5597;mso-style-textfill-fill-themecolor:accent1;
                    mso-style-textfill-fill-alpha:100.0%;mso-style-textfill-fill-colortransforms:lumm=75000">Innovation.AI</span>
            </b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == home_url %} active {% endif %}">
                    <a class="nav-link" href="{% url 'home_url' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item {% if request.path == rss_url %} active {% endif %}">
                    <a class="nav-link" href="{{ rss_url}}">RSS Feed</a>
                </li> -->
                <li class="nav-item {% if request.path == about_url %} active {% endif %}">
                    <a class="nav-link" href="{% url 'about:about_url' %}">About</a>
                </li>
                
                {% if request.user.is_authenticated %}
                <li>
                    <div class = "dropdown show">
                        <a class="mt-0 btn btn-secondary dropdown-toggle" href="#" title="About us" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage Site
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'create_news' %}">Write a News Post</a>
                            <a class="dropdown-item" href="{% url 'about:create_team' %}">Add a Team Member</a>
                            <a class="dropdown-item" href="{% url 'about:create_solution' %}">Add a Solution</a>
                            <a class="dropdown-item" href="{% url 'about:create_partner' %}">Add a Partner</a>
                            <a class="dropdown-item" href="{% url 'about:create_award' %}">Add an Award</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>            
                        </div>
                    </div>
                </li>
                {% endif %}

                <li class="nav-item {% if request.path == news_url %} active {% endif %}">
                    <a class="nav-link" href="{% url 'news_url' %}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>

                {% comment %} {% if request.user.is_authenticated %}
                <li class="nav-item {% if request.path == logout_url %} active {% endif %}">
                    <a class="dropdown-item" href="{{ logout_url }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item {% if request.path == register_url %} active {% endif %}">
                    <a class="nav-link" href="{{ register_url }}">Register</a>
                </li>
                <li class="nav-item {% if request.path == login_url %} active {% endif %}">
                    <a class="nav-link" href="{{ login_url }}">Login</a>
                </li>
                {% endif %}                      {% endcomment %}
                <!--    

                -->

            </ul>
                
        </div>
    </div>
</nav>
