{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Content Management</h1>
            <hr/>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About</h5>
                    <a class='list-group-item' href='#'>Manage Team</a>
                    <a class='list-group-item' href='#'>Manage Solutions</a>
                    <a class='list-group-item' href='#'>Manage Awards</a>
                    <a class='list-group-item' href='#'>Manage Partners</a>
                </div>
            </div>
        </div>
        <div class='col'>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">News</h5>
                    <div class='list-group'>
                        <a class='list-group-item' href="{% url 'about:create_news' %}">Create News Post</a>
                        <a class='list-group-item' href="{% url 'about:create_solution' %}">Create  News</a>
                    </div>
                </div>
            </div>
        </div>
        <div class='col'>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Messages</h5>
                    <div class='list-group'>
                        <a class='list-group-item' href="{% url 'about_url' %}">Read Messages</a>
                        {% comment %} <a class='list-group-item' href="{% url 'about_url' %}">Manage News</a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}