
{% extends "base.html" %}

{% block content %}
<div class="container">
	<h1>Login</h1>
	<div class='container'>
		<div class='row'>
			<div class='col-6'>
				<div class='col-md-6 col-12 mx-auto'>
					<form method='POST'>
						{% csrf_token %}
						{{ form.as_p }}
						<button type='submit' class='btn btn-secondary'>Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}