{% extends "base.html" %}

{% block content %}
	<div class='container'>
		<div class='row'>
			<div class='col-6 mx-auto'>
				<h1>Register</h1>
				<p>Register new members to the team to be displayed on the Our Team page.</p>
				<hr class='divider'>
				<div class='col-md-6 col-12 mx-auto'>
					<form method='POST'>
						{% csrf_token %}
						{% include 'accounts/snippets/form.html'%}
						{% comment %} <button type='submit' class='btn btn-secondary'>Submit</button> {% endcomment %}
					</form></br>
				</div>
			</div>
		</div>
	</div>
{% endblock %}