{% extends "base.html" %}

{% block content %}
	<div class='container'>
		<div class='row'>
			<div class='col-6 mx-auto'>
				<h1>Register</h1>
				<p>Register new members to the team to be displayed on the Our Team page.</p>
				<hr class='divider'>
				<div class='col-md-6 col-12 mx-auto'>
					<form method='POST'>
						{% csrf_token %}
						{{ form.non_field_errors }}
						<div class="fieldWrapper">
							{{ form.username.errors }}
							<label for="{{ form.username.id_for_label }}">Username:</label></br>
							{{ form.username }}
						</div>
						<div class="fieldWrapper">
							{{ form.first_name.errors }}
							<label for="{{ form.first_name.id_for_label }}">First Name:</label></br>
							{{ form.first_name }}
						</div>
						<div class="fieldWrapper">
							{{ form.last_name.errors }}
							<label for="{{ form.last_name.id_for_label }}">Last Name:</label></br>
							{{ form.last_name }}
						</div>
						<div class="fieldWrapper">
							{{ form.email.errors }}
							<label for="{{ form.email.id_for_label }}">Email:</label></br>
							{{ form.email }}
						</div>
						<div class="fieldWrapper">
							{{ form.password1.errors }}
							<label for="{{ form.password1.id_for_label }}">Password:</label></br>
							{{ form.password1 }}
						</div>
						<div class="fieldWrapper">
							{{ form.password2.errors }}
							<label for="{{ form.password2.id_for_label }}">Confirm Password:</label></br>
							{{ form.password2 }}
						</div></br>
						<button type='submit' class='btn btn-secondary'>Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}