{% extends "base.html" %}

{% block content %}
<div class='col-12 col-md-6 mx-auto'>
    {% if title %}
    <h1 class='my-3'>{{ title }}</h1>
    {% endif %}
    <form method='POST' action='{% if action_url %}{{action_url}}{% endif %}'>
        {% csrf_token %}
        {% if next_url %}
        <input type='hidden' name='next' value='{{ next_url }}'>
        {% endif %}
        {{ form.as_p }}
        <button class='btn btn-secondary my-3' type='submit'>Submit</button>
    </form>

</div>
{% endblock %}