{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 non d-md-block bg-light sidebar">
            <div class="card">
                <img src="{% if user.media_thumbnail %}{{user.media_thumbnail}}{% else %}{% static 'img/CorvusCorax.png' %}{% endif %}" class="rounded align-self-center" style="width: 90%" alt="">
                <div class="card-body">
                    {{ user.id }} - {{ user.username }}{% if user.admin %} <strong>[Admin]</strong> {% endif %}( <span class="text-danger">{{ entry.score_up }}0</span> | <span class="text-primary">{{ entry.score_down }}0</span> ) </br>
                    <small class="m-0 p-0">
                    Account created {{ user.timestamp }} </br>
                        <em>{{ entry.published|date:'D, Y M d H:i:s T' }}</em></br>
                        <p class="card-text m-0 p-0">{{ entry.summary }}Add User Quotes?</p>
                    </small></br>
                </div>
            </div>
        </nav>

        <main role="main" class="col-md-8 ml-sm-auto col-lg-9 px-4">
            {% for comment in comments %}
            {% include 'rss/profile-comments.html' with entry=comment.entry %}</br>
            </hr>
            {% endfor %}
        </main>
    </div>
</div>
 

{% endblock %}
