<p>Hello,</p>
<p>Please verify your account for {{ email }} by clicking the link below:</p>
<p><a href="{{ path }}">{{ path }}</a></p>
<p>Once activated, you can login!</p>
<p>Thanks,</p>
<p>2 Ravens</p>