{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if object %}
    <div class='row mx-auto'>
        <div class='col px-5 text-center'>
        {% if object.image %}
            <img src="{{ object.image.url }}" class="img-fluid" alt="..." style="max-height:350px; width:auto;">
        {% else %}
            <img src="{% static 'img/DIAILogo1.png' %}" class="img-fluid" alt="..." style="max-height:350px; width:auto;">
        {% endif %}
        </div>
    </div>
    <div class='row'>
        <div class="col px-5">
            <h1>{{ object.title }}</h1>
            <p>{{ object.summary }}</p>
            {% if object.story == object.story|striptags %}  
                {{ object.story|linebreaks }}
            {% else %}
                {{ object.story|safe }}
            {% endif %}
        </div>    
    </div>
{% else %}
    {% include 'about/snippets/about.html' %}
{% endif %}
{% endblock %}