{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        {% include 'base/admin_create.html' %}
    {% endif %}
    {% if object_list %}
        <div class='row'>
            {% for member in object_list %}
                {% if member.display %}
                    <div class='col col-md-6 col-lg-4 mb-4'>
                        {% include 'news/snippets/member-card.html' %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <div class='row px-3'>
                Cards currently hidden:
            </div>
            <div class='row'>
                {% for member in object_list %}
                    {% if not member.display %}
                        <div class='col col-md-6 col-lg-3 mb-3'>
                            <div class="card">
                                {% if member.featured %}
                                    Featured Card
                                {% endif %}
                                {% include 'about/snippets/member-card.html' %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        {{ message }}
    {% endif %}
{% endblock %}