{% extends "base.html" %}

{% block content %} 

<div class='row'>
    <div class='col text-center'>
        <h1 class='my-5'>FORBIDDEN: Permission has been denied</h1>
        <p>403 Error | You cannoy access this.</p>
    </div>
</div>


{% endblock %}