{% extends "base.html" %}

{% block content %} 

<div class='row'>
    <div class='col text-center'>
        <h1 class='my-5'>Page Not Found</h1>
        <p>404 Error | Sorry, that could not be found.</p>
    </div>
</div>



{% endblock %}