{% extends "base.html" %}

{% block content %} 

<div class='row'>
    <div class='col text-center'>
        <h1 class='my-5'>Oops! A Server Error Occured</h1>
        <p>500 Error | A problem has occurred.</p>
    </div>
</div>


{% endblock %}