{% load static %}

<head>
{% include 'base/css.html' %} 
{% block base_head %}{% endblock %} 
<title>Data Innovation.AI</title>
</head>
<body class="view" style="background-image: url('{% static 'img/background.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center center; background-attachment: fixed;">
    {% include 'base/navbar.html' with brand_name='DataInnovation.AI' %}
    {% if messages %}
        {% for message in messages %} 
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %} {{ message }}
        {% endfor %}
    {% endif %}
    <div class='container bg-white p-3'>
        {% block content %}{% endblock %} 
    </div>
    {% include 'base/footer.html' %}
    {% block base_footer %}{% endblock %}
    
</body> 

{% include 'base/js.html' %} 
{% block javascript %} {% endblock %}