{% extends 'base.html' %}

{% block content %}
<h4 class="offset-md-2">{{ title }}</h4></br>
<div class="offset-md-2">
    {{ content }}
</div>

</br></br>

<div class='row'>
    <div class='col px-4'>
        Send us a message, contact us by Email us, or follow us on LinkedIn!</br></br>
        <div class-'col-lg-12 text-center mt-3'>
           <a href="mailto:enquiries@datainnovation.ai" class="scl-btn shadow fas fa-envelope"></a>
           <a href="https://www.linkedin.com/company/data-innovation-ai/" class="scl-btn shadow fab fa-linkedin-in"></a>
        </div>
        
    </div>
    <div class='col'>
        {% include 'base/forms.html'%}
    </div>
</div>

{% endblock %}