{% extends 'base.html' %}
{% load static%}

{% block base_head %}
<meta name="DataInnovation.AI" content="Decision Making with complexity, risk and uncertainty.">
{% endblock %}

{% block content %}

<div class='row'>
    <div class='px-5 mx-auto'>
        <img src="{% static 'img/DIAILogo1.png' %}" class="img-fluid" alt="{% static 'img/diailogo.png' %}"  style="max-height:350px; width:auto;">
    </div>
</div>
<div class='row'>
    <div class='col px-5'>
        <p>
            We are <b><span style="font-size:14.0pt;line-height:107%;font-family:'Quicksand',serif;color:#548235;mso-themecolor:accent6;mso-themeshade:191;mso-style-textfill-fill-color:#548235;mso-style-textfill-fill-themecolor:accent6;
                    mso-style-textfill-fill-alpha:100.0%;mso-style-textfill-fill-colortransforms:lumm=75000">Data</span> 

                    <span style="font-size:14.0pt;line-height:107%;font-family:'Quicksand',serif;color:#2F5597;mso-themecolor:accent1;mso-themeshade:191;mso-style-textfill-fill-color:#2F5597;mso-style-textfill-fill-themecolor:accent1;
                    mso-style-textfill-fill-alpha:100.0%;mso-style-textfill-fill-colortransforms:lumm=75000">Innovation.AI</span></b></br></br>

            Data Innovation.AI partners with organisations to deliver the optimum results where their capable people interact with advanced technology and innovative data services. </br></br>

            We are proponents of <b>Decision Intelligence</b>, a new discipline enabling leaders to make higher quality decisions when there is complexity or uncertainty, limited visibility of the outcomes and elevated aspirations for the results. </br></br>

            Working with us has the advantages of a nimble <b>FinTech</b>, tapped into the UK’s data ecosystem and our extensive international partner network. </br></br>
        </p>

        Come visit our <a href="{% url 'contact' %}">contact</a> page and talk to us.</br>
    </div>
</div>
{% if solution %}
    <hr/>
    <h3> Some of our latest services!</h3></br>
    <div class='row'>
        {% for member in solution %}
            <div class='col-12 mb-4'>
                {% include 'about/snippets/member-card.html' with edit=edit_solution delete=delete_solution link=link_solution %}</br>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% if news %}
    <hr/>
    <h3> Some of our latest news!</h3></br>
    <div class='row'>
        {% for member in news %}
            <div class='col col-md-6 col-lg-4 mb-4'>
                {% include 'news/snippets/member-card.html' %}</br>
            </div>
        {% endfor %}
    </div>
{% endif %}


{% endblock content %}