{% load static %}
<div class='col text-center py-4'>
{% if member.featured %}
    {% if member.image %}
        <img src="{{ member.image.url }}" class="card-img-top" alt="{{ member.name }}" style="max-width: 100%; height:auto;">
    {% else %}
        <img src="{% static 'img/DIAILogo1.png' %}" class="card-img-top" alt="{{ member.name }}" style="max-width: 50%; height:auto;">
    {% endif %}
{% else %}
    {% if member.image %}
        <img src="{{ member.image.url }}" class="card-img-top" alt="{{ member.name }}" style="max-width: 50%; height:auto;">
    {% else %}
        <img src="{% static 'img/DIAILogo1.png' %}" class="card-img-top" alt="{{ member.name }}" style="max-width: 50%; height:auto;">
    {% endif %}
{% endif %}
</div>
<div class="card-body">
    {% if member.title %}
    <h5     class="card-title">{{ member.title|safe }}</h5>
    {% else %}
        <h5 class="card-title">{{ member.name }}</h5>
    {% endif %}
    <h6 class="card-subtitle mb-2 text-muted">{{ member.role }}</h6>
    {% if member.project_lead %}
        <h6 class="card-subtitle mb-2 text-muted">{{ member.project_lead.first_name }} {{ member.project_lead.last_name }}, {{ member.project_lead.role }}</h6>
    {% endif %}

    <p class="card-text">{{ member.summary }}</p>
    <div class='row'>
        <div class='col px-3'>
            {% if member.email %} 
                <a href="mailto:{{ member.email }}" class="scl-btn shadow fas fa-envelope"></a>
            {% endif %}
            {% if member.website %} 
                <a href="{{ member.website }}" class="scl-btn shadow fas fa-globe"></a>
            {% endif %}
            {% if member.linkedin %} 
                <a href="{{ member.linkedin }}" class="scl-btn shadow fab fa-linkedin-in"></a>
            {% endif %}
        </div>
    </div>
    {% if member.about %}
        <a href="{% url link member.id %}">Read more...</a>
    {% endif %}
</div></br>
{% if user.is_authenticated %}
    {% include 'base/admin-tools.html' %}
{% endif %}