{% load static %}

<div class="card px-3">
    {% if member.image %}
        <img src="{{ member.image.url }}" class="card-img-top" alt="{{ member.name }}" style="max-width: 100%; height:auto;">
    {% else %}
        <img src="{% static 'img/DIAILogo1.png' %}" class="card-img-top" alt="{{ member.name }}" style="max-width: 100%; height:auto;">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ member.title }}</h5>
        <p class="card-subtitle mb-2 text-muted"><em>{{ member.published }}</em></p>

        <p class="card-text">{{ member.summary }}</p>
        {% if member.story %}
            <a href="/news/{{ member.id }}">Read more...</a>
        {% endif %}
    </div></br>
    {% if user.is_authenticated %}
        {% include 'base/admin-tools.html' %}
    {% endif %}
</div>